.profile-card {
  margin: 0 auto;
  max-width: 420px;
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  margin: 1rem;
}
.profile-card__background {
  max-width: 420px;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}