@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
:root {
  --primary-color-dark-cyan: hsl(185, 75%, 39%);
  --secondary-color-desatured-blue: hsl(229, 23%, 23%);
  --tertiary-color-grayish-blue: hsl(227, 10%, 46%);
  --neutral-color-gray: hsl(0, 0%, 59%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--primary-color-dark-cyan);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/public/img/bg-pattern-top.svg), url(/public/img/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 40vw bottom 40vh, left 40vw top 40vh;
  font-family: "Kumbh Sans", sans-serif;
}